<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>OpenRules.github.io</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
body
{
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
h1, h2, h1 a{
	text-decoration:none;
	color:#0022B4
}
#wrapper
{
  max-width: 960px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
#input
{
  width: 370px;
  float: left;
  display:inline-block;
}
#results
{
  position: relative;
  width: 500px;
  float: right;
  padding-bottom: 50px;
  display:inline-block;
}
#footer
{
  /* width: 270px;*/
  width:100%;
  float: left;
  text-align:center;
}
div.extra
{
  min-height:200px;
  text-align:left;
}
/* Media query not required, but cosmetically better */
@media screen and (max-width: 1000px) {
        #results {float: left; margin-left: auto;}
}
.required
{
	color:red;
	font-weight:bold;
	font-size:larger;
}

.listitem
{
	background-color:#6DC6E7;
	text-decoration:none;
	color:white;
	font-weight:bold;
	line-height:20px;
	padding:0 15px;
}

.listitem a
{
	background-color:#6DC6E7;
	text-decoration:none;
	color:white;
	font-weight:bold;
	//line-height:32px;
	//padding:0 15px;
	//font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
.is_tip
{
  display:none;
}
</style>
<script>
function toggleit (itemno){
	$(".extra").css("display", "none")
	document.getElementById(itemno).style.display = (document.getElementById(itemno).style.display == "none" ) ? "" : "none";
}
$(document).ready(function(){
$("#results").css("height",$("#input").css("height"))
function showtip(tiptext, event, width){
	$("#tip").css('width', width);
    $("#tip").html(tiptext) //("<div style = 'background-color:white;opacity:1;border-style: solid; border-width: medium;padding:10px'>" + tiptext + '</div>');
	$("#tip").css('display','block');
	var pos_left = event.pageX  - $("#tip").width()/2 //trigger.position().left;
        if ((pos_left + $("#tip").width()) > $(window).width() - 50){
            pos_left = $(window).width() - $("#tip").width() - $("#tip").width()/2;
		}
        if (pos_left < 0){
            pos_left = 10;
		}
	var pos_top =  event.pageY - 20; //trigger.position().top;
        if ((pos_top + $("#tip").height()) > $(window).height()){
            pos_top = pos_top + 20 - $("#tip").height();
		}
	$("#tip").offset({top: pos_top, left: pos_left});
}
//event handlers
$('a.has_tip').mouseenter(function(event){
		var tiptext = $(this).attr('tip')
		tiptext = $('#' + tiptext).html()
		width = "200px"
		showtip(tiptext, event, width);
	});

$("#tip").mouseleave(function(event){
	$( "#tip" ).css('display', 'none');
	});
$("body").on("click", function(){
	$( "#tip" ).css('display', 'none');
});	
})
</script>
</head>


<body ng-app="">

    <div id="wrapper">
        <h1><a href="http://OpenRules.github.io">OpenRules.github.io</a></h1>
		<div id="input">
        <h2>Screening/treating  for disease x with y</h2>
<form name="myForm">
 <fieldset style="border: 3px solid #6DC6E7; background-color: #FFFFFF;">
 <legend>Enter values:</legend>
<div>
<label for="free">Free text example:</label>
<input name="free" id="free" ng-model="free" required>
<span ng-show="myForm.free.$untouched && myForm.free.$invalid" class="required">*</span>
</div>
<div>&nbsp;</div>
<div>
<label for="race">Enter race/ethnicity:</label>
<select ng-model="race" name="race" id="race" required>
      <option value="anglo"></option>
      <option value="anglo">Anglo</option>
      <option value="aa">African-American</option>
</select>
<span ng-show="myForm.race.$untouched && myForm.race.$invalid"  class="required">*</span>
</div>
<div>&nbsp;</div>
<div style="text-align:left">Gender: <input type="radio" name="gender" ng-model="gender" value="female" required>Female <input type="radio" name="gender" ng-model="gender" value="male">Male 
</div>
<div>&nbsp;</div>
<div style="text-align:left"><label for="age">Your age:</label>
<input type="number" name="age" id="age" ng-model="age" min="35" max="99" required title="This decision aid applies to women older than 35 years">
<span ng-show="myForm.age.$invalid"  class="required">*</span>
</div>
<div>&nbsp;</div>
<div><span  class="required">*</span> Required values</div>
<div style="text-align:center"><button id="submitbutton" type="submit">Submit</button></div>
</fieldset>
</form>
</div>

	<!-- Start of results -->
    <div id="results">
	<h2>Personalized facts box based on your input</h2>

	<table><tr><td>What do expert organizations recommend?</td>
	<td><ul>
	<li>The United States Preventive Services Task Force <a href="#" class="has_tip" tip="USPSTF">(show)</a>
	<div id="USPSTF" class="is_tip">&quot;The USPSTF recommends screening every 2 years for women aged 50 to 74. The decision to start screening for women aged 40 to 49 should be an individual one.&quot;(<a href="http://pubmed.gov/18838716" title="Click to display source at PubMed in a new window" target="_blank" class="citation">USPSTF, 2008</a>&nbsp;<img src="https://raw.githubusercontent.com/openRules/openRules.github.io/master/images/External.svg.png" width="15" alt="opens in new window"/>)</div></li>
	<li>The American Cancer Society <a href="#" class="has_tip" tip="ACS">(show)</a>
	<div id="ACS" class="is_tip">&quot;The ACS recommends that women with an average risk of breast cancer should undergo regular screening mammography starting at age 45 years.&quot;(<a href="http://pubmed.gov/26501536" title="Click to display source at PubMed in a new window" target="_blank" class="citation">ACS, 2015</a>&nbsp;<img src="https://raw.githubusercontent.com/openRules/openRules.github.io/master/images/External.svg.png" width="15" alt="opens in new window"/>)</div></li>
	</ul></td></tr></table>
    </div>
	
	
	<!-- -Start of footer -->
    <div id="footer" style="clear:both">
	<div id="version" style="color:gray; font-size:smaller;width:100%;text-align:center">Last updates: style 02/02/2010; content 1/1/2005. Click 'About' for recent changes.</div>
	<a name="footer_menu"></a>
	<table width="100%" align="center" id="footer_menu">
	<tr>
	<td class="listitem"><a onclick="toggleit('patients');window.scrollBy(0, 200);return false" href="#">For patients:<br/>what's next</a></td>
	<td class="listitem"><a onclick="toggleit('about');window.scrollBy(0, 200);return false" href="#">About</a></td>
	<td class="listitem"><a onclick="toggleit('collaborate');window.scrollBy(0,200);return false" href="#">Collaborate</a></td>
	<td class="listitem"><a href="https://github.com/openRules/facts-boxes/wiki/Contact-us" target="_blank">Contact us</a>&nbsp;<img src="https://raw.githubusercontent.com/openRules/openRules.github.io/master/images/External.svg.png" width="15" alt="opens in new window"/></td>
	</tr>
	</table>
	
	<div id="patients" style="display:none;" class="extra"><h3>Next steps</h3>
	<p>PUT PT INSTRUCTIONS HERE ISAAC</p>
	<p>PUT PT INSTRUCTIONS HERE</p>
	</div>
	
	<div id="collaborate" style="display:none;" class="extra"><h3>Collaborate</h3>
	<p>We welcome your input.</p>
	<ol>
		<li>Please contact us (rbadgett@kumc.edu) for suggestions/ideas.</li>
		<li>If you know how both to program and to use GitHub, feel free to fork and pull the <a href="https://github.com/openRules/home">source code</a>.</li>
		<li>If you already know programming, not familiar with GitHub but are interested in learning how to use GitHub, <a href="https://guides.github.com/activities/hello-world/">click here.</a>.</li>
	</ol>
	</div>

	<div id="about" style="display:none;" class="extra"><h3>Last update</h3> <div>
	<p>Last updates: style 02/02/2010; content 1/1/2005. Last revisions to content include...</p>
	<div style="font-weight:bold">References</div>
	<ol>
		<li></li>
		<li></li>
	</ol>
	</div>

      </div>
      </div>
<div id="tip" style="display:none;background-color:white;opacity:1;border-color:#0022B4;border-style: solid; border-width: medium;padding:10px;position:absolute"></div>
</body>
</html>
